.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 160px;
  padding-top: 50px;
}

.hero-left {
  width: 40%;
  margin-left: 30px;
}

.hero-left h3 {
  color: var(--white-color);
  font-weight: 700;
  font-family: "Roboto";
  font-size: var(--font-med);
  margin-bottom: 10px;
}

.hero-left h1 {
  color: transparent;
  line-height: 40px;
  font-family: "Alfa Slab One";
  -webkit-text-stroke: 1px var(--white-color);
  font-size: var(--font-large);
  color: var(--primary-color);
}

/* =============== */
.hero-right {
  width: 50%;
  height: 100%;
}

.hero-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* THE RESPONSIVESS */
@media (max-width: 1000px) {
  .hero-left {
    width: 50%;
    padding-left: 20px;
  }

  .hero-right {
    height: 70%;
    width: 50%;
  }
}

@media (max-width: 900px) {
  .hero {
    height: 80vh;
    padding-top: 0;
  }
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column-reverse;
  }

  .hero-left {
    width: 100%;
    text-align: center;
    margin-top: -10px;
    padding: 10px;
  }

  .hero-right {
    width: 100%;
    padding: 10px;
  }
}

@media (max-width: 500px) {
  .hero-left h1 {
    font-size: var(--font-bigger);
  }

  .hero-left {
    margin-left: 0;
  }
}
