.hero2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70vh;
}

.hero2-left {
  width: 45%;
  height: 80%;
}

.hero2-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero2-right {
  width: 45%;
  padding-right: 20px;
}

.hero2-right h3 {
  font-family: "Roboto";
  color: var(--white-color);
  margin-bottom: 20px;
}

.hero2-right p {
  color: var(--white-color);
  line-height: 35px;
  font-size: var(--font-med);
}

@media (max-width: 1000px) {
  .hero2-left {
    height: 66%;
    width: 50%;
  }

  .hero2-right {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .hero2 {
    flex-direction: column;
    height: 100vh;
    margin-bottom: 120px;
  }

  .hero2-left {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .hero2-right {
    width: 100%;
    padding: 10px;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .hero2-left h1 {
    font-size: var(--font-bigger);
  }
}
