.hero3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70vh;
  margin-bottom: 150px;
}

.hero3-left {
  width: 45%;
  padding-left: 30px;
}

.hero3-left h3 {
  font-family: "Roboto";
  color: var(--white-color);
  margin-bottom: 20px;
}

.hero3-left p {
  color: var(--white-color);
  line-height: 35px;
  font-size: var(--font-med);
}

.hero3-right {
  width: 45%;
}

.hero3-right img {
  width: 100%;
  height: 100%;
}

/* THE RESPONSIVENESS */

@media (max-width: 1000px) {
  .hero3-left {
    height: 66%;
    width: 50%;
  }

  .hero3-right {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .hero3 {
    flex-direction: column-reverse;
    height: 100vh;
    margin-bottom: 80px;
  }

  .hero3-left {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .hero3-right {
    width: 100%;
    padding: 10px;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .hero3-left h1 {
    font-size: var(--font-bigger);
  }
}
