.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.nav-brand img {
  height: 100%;
  width: 100px;
}

.nav-button button {
  background: var(--primary-color);
  padding: 10px;
  height: 40px;
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--white-color);
  width: 120px;
  font-weight: 600;
}
