.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  /* border-bottom: 1px solid var(--tertiary-color); */
  box-shadow: var(--box-shadow);
  position: fixed;
  width: 100%;
  z-index: 99;
  background: var(--body-background);
}

.nav-brand img {
  height: 100%;
  width: 100px;
}

.nav-button button {
  background: var(--primary);
  padding: 10px;
  height: 40px;
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--white);
  width: 120px;
  font-weight: 600;
}

/* =========THE RESPONSIVENESS========= */
@media (max-width: 500px) {
  .nav {
    padding: 20px 10px;
  }

  .nav-brand img {
    width: 90px;
    margin-top: -15px;
  }
}
