.newsletter {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  box-shadow: var(--shadow);
  margin-bottom: 100px;
  padding: 30px 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.newsletter p {
  color: var(--white-color);
  font-size: var(--font-medium);
  line-height: 30px;
  font-family: "Roboto";
}

.waitlist-div {
  margin-top: 40px;
  display: flex;
  /* border: 1px solid var(--primary-color); */
  height: 50px;
  border-radius: 25px;
  width: 500px;
}

.waitlist-div input {
  width: 70%;
  border-radius: 25px 0 0 25px;
  padding-left: 20px;
  border: none;
  outline: none;
}

.waitlist-div button {
  width: 30%;
  border-radius: 0 25px 25px 0;
  border: none;
  background: var(--primary-color);
  color: var(--white-color);
  cursor: pointer;
  font-weight: 600;
  font-family: var(--nunito);
  font-size: var(--font-mid);
}

/* THE RESPONSIVENESS */
@media (max-width: 600px) {
  .newsletter {
    width: 95%;
    text-align: center;
    margin-top: 0;
  }

  .waitlist-div {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .waitlist-div {
    flex-direction: column;
    height: 100%;
  }

  .waitlist-div input {
    height: 50px;
    width: 100%;
    padding: 15px;
    border-radius: 3px;
  }

  .waitlist-div button {
    height: 50px;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    margin-top: 10px;
  }
}
