@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Inter:wght@400;500;600;700&family=Nunito+Sans:wght@400;600;700;800&family=Roboto:wght@300;500;700;900&display=swap");

@import "./styles/Navbar.css";
@import "./styles/Hero.css";
@import "./styles/Hero2.css";
@import "./styles/Hero3.css";
@import "./styles/Newsletter.css";
@import "./styles/Footer.css";

:root {
  --body-background: linear-gradient(87.75deg, #0b101d 1.89%, #172038 96.74%);
  --primary-color: #ce3a2c;
  --hero-color: #0b101d;
  --secondary-color: #b5bed4;
  --input-background: linear-gradient(87.75deg, #0b101d 1.89%, #172038 96.74%);
  --tertiary-color: #9ba5b2;
  --white-color: #ffffff;
  --white: #ffffff;
  --blue-color: #3772ff;
  --border-color: rgba(157, 165, 178, 0.17);
  --body: #172038;

  /* Font-Families */
  --nunito: "Nunito Sans";
  --inter: "Inter";

  /* Font Sizes */
  --font-small: 11px;
  --font-smaller: 13px;
  --font-smallest: 15px;
  --font-mid: 16px;
  --font-med: 18px;
  --font-medium: 20px;
  --font-big: 22px;
  --font-bigger: 24px;
  --font-biggest: 27px;
  --font-large: 30px;
  --font-larger: 40px;
  --font-largest: 49px;

  --box-shadow: 0px 0px 7px rgba(65, 111, 65, 0.2);
  --shadow: 5px 12px 24px rgba(0, 0, 0, 0.1);
  --transition: all 0.2s ease-in-out;
}

body {
  font-family: var(--nunito);
  background: var(--body-background);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.light-theme {
  --body-background: #fff;
  /* --primary-color: #351590; */
  --primary-color: #ce3a2c;
  --white-color: #0b101d;
  --stroke-color: transparent;
  --primary: #351590;
}

/* the dark theme */
.dark-theme {
  --body-background: linear-gradient(87.75deg, #0b101d 1.89%, #172038 96.74%);
  --primary-color: #ce3a2c;
  --white-color: #fff;
  --stroke-color: #fff;
  --primary: #ce3a2c;
}

.sun {
  margin-right: 20px;
  margin-bottom: -3px;
  color: var(--white-color);
  cursor: pointer;
}
